.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
autotools/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
m4/
missing
src/opensmt/parsers/smt/smtparser.cc
src/opensmt/parsers/smt/smtparser.hh
todo.org
ylwrap
