Soonho Kong  <soonhok@cs.cmu.edu>      <dreal@root@cmacslab2.modck.cs.cmu.edu>
Sicun Gao    <sicung@cs.cmu.edu>       <sicung@cmacslab1.modck.cs.cmu.edu>
Sicun Gao    <sicung@cs.cmu.edu>       Sean Gao
Sicun Gao    <sicung@cs.cmu.edu>       <sicun@fortleenomad.(none)>
Sicun Gao    <sicung@cs.cmu.edu>       <sicung@gaolaptop.local>
Bing Liu     <liubing1020@gmail.com>   <liubing@gauss.modck.cs.cmu.edu>
Daniel Bryce <danbryce410@gmail.com>
Wei Chen     <weichen1@andrew.cmu.edu> <ipondering.weic@gmail.com>
