body{
	background:white;
	color:black;
	font-family:Times, Arial, sans-serif;
}

pre{
	font-weight:bold;
	background: #f5f5f5;
}

h2{
	color:#000066;
	background:#ffff88;
	text-align:center;
}

h3{
	color:#000066;
}

a{
	color:#000088;
}

a:hover {
	color:red;
}

.keyword {
	font-family:monospace;
	color:maroon;
	font-weight:bold;
}

.funcName{
	font-family:monospace;
	color:navy;
	font-weight:bold;	
}

.const{
	color:orange;
}

.fileName{
	font-family:monospace;
	font-weight:bold;
	color: maroon;
}

.todo{
	font-size:16pt;
	color:red;
}
