---
BasedOnStyle:  Google
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Middle
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
---
